<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8 " />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>

<body>
	<div th:include="menu :: menu-one"></div>
	<div class="container">
		<form class="form-horizontal" action="#" th:action="@{/}"
			th:object="${person}" method="post">
			<div class="form-group">
				<label class="control-label" for="firstName">firstName:</label> 
				<input type="text" class="form-control" id="firstName"
					th:field="*{firstName}" placeholder="Enter firstName" />
				<label class="control-label" for="lastName">lastName:</label> 
			    <input type="text" class="form-control" id="lastName"
					th:field="*{lastName}" placeholder="Enter lastName" /> 
				<label class="control-label" for="nationaCode">nationaCode:</label> 
				<input type="text" class="form-control" id="nationaCode"
					th:field="*{nationalCode}" placeholder="Enter lastName" />
				<button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
			</div>
		</form>
	</div>
</body>

</html>